html, body {
    margin: 0;
    font-family: recipeKorea;
    box-sizing: border-box;
    /* background: linear-gradient(#FFFAFA, #FFD6D6); */
}

.bga {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(16px);
    opacity: 0.35;
    z-index: -1;
    isolation: isolate;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */
    padding-top: 16px;
}

.scrolled {
    position: sticky;
    top: 0;
    z-index: 99;
    background: rgba(255, 250, 250, 0.95);
    box-shadow: 0px 1px 8px #5C5C5C;
}

.logo {
    width: min(240px,25vw);
    cursor: pointer;
}

.update {
    cursor: pointer;
    align-items: center;
}

.patch {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.button1 {
    width: auto;
    height: 36px;
    border: 2px solid #A9B0BD;
    border-radius: 4px;
    font-family: paperlogy5;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

.button2 {
    width: auto;
    height: 36px;
    align-items: flex-end;
    background: linear-gradient(#C1121F, #960E17);
    border: 2px solid #960E17;
    border-radius: 4px;
    font-family: paperlogy5;
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.schedule {
    width: 960px;
    padding: 48px;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: auto;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin: auto;
    margin-top: 24px;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */
    isolation: isolate;
}

.gradienttext {
    color: #c1121f;
    /* background: linear-gradient(#c1121f,#790b13);
    background-clip: text;
    color: transparent; */
}

.week {
    padding-top: 1vw;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */
}

.day {
    width: 960px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    border: 4px solid #AC0606;
    border-radius: 16px;
}

.dayname {
    width: 128px;
    padding-top: 16px;
}

hr {
    width: 2px;
    height: 44px;
    background-color: #999999;
    border: 0;
}



/* .day {
    width: 960px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.date {
    background: linear-gradient(#C1121F, #960E17);
    min-width: 88px;
    height: 88px;
    border: 4px solid #960E17;
    border-radius: 12px;
}

.date1 {
    color: #ffffff;
    -webkit-text-stroke: 1px #343434;
}

.date2 {
    margin-top: 4px;
} */

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 830px;
    height: 88px;
    padding-top: 16px;
    flex-grow: 1;
    background-color: transparent;
    border: transparent;
    color: #1B1B1B;
}

.notice {
    display: flex;
    align-items: center;
    width: 960px;
    height: 120px;
    background-color: white;
    border: 4px solid #AC0606;
    border-radius: 16px;
    text-align: center;
}

.rest {
    color: red;
}

.note {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 960px;
    height: 88px;
    padding-top: 16px;
    flex-grow: 1;
    background-color: transparent;
    border: transparent;
    color: #5C5C5C;
    font-size: 48px;
}

.credit {
    display: flex;
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 8px;
    font-family: paperlogy5;
    color: #5C5C5C;;
}

.patchnote {
    display: none;
    flex-direction: column;
    row-gap: 24px;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.patchinfo {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    justify-content: center;
    align-items: start;
    width: auto;
    height: auto;
    transform: scale(0.85);
    padding: 36px;
    background-color: white;
    border: 4px solid #AC0606;
    border-radius: 16px;
}

.capturepreview {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 9998;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

canvas {
    position: fixed;
    margin: auto;
    transform: scale(0.7);
    z-index: 9999;
}

.closecapture {
    position: absolute;
    width: 64px;
    right: 10vw;
    top: 10vh;
    cursor: pointer;
    background-color: snow;
}

/* .note1 {
    background: linear-gradient(#C1121F, #960E17);
    color: #ffffff;
    -webkit-text-stroke: 1px #343434;
    padding-top: 16px;
    border: 4px solid #960E17;
    border-radius: 12px 12px 0px 0px;
}

.note2 {
    height: 88px;
    border: 4px solid #AC0606;
    border-radius: 0px 0px 12px 12px;
    font-family: recipekorea;
    text-align: center;
} */

@font-face {
    font-family: recipeKorea;
    src: url(fonts/Recipekorea.otf);
}

@font-face {
    font-family: paperlogy5;
    src: url(fonts/Paperlogy-5Medium.ttf);
}

h1 {
    font-size: 60px;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
    
}

h2 {
    font-size: 48px;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h3 {
    font-size: 36px;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h4 {
    font-size: 24px;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

p {
    font-size: 16px;
    color: #1B1B1B;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}
