html, body {
    background: linear-gradient(#FFFAFA, #FFD6D6);
    background-repeat: no-repeat;
    background-attachment: fixed; /* 배경이 스크롤 시 고정되도록 설정 */
    font-family: recipeKorea;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding: min(auto,20px);
    justify-content: space-between;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */
    max-width: 1120px;
    margin: auto;
    padding-top: 16px;
}

.logo {
    width: min(240px,33vw);
    cursor: pointer;
}

.blank {
    width: 25vmin;
}

.update {
    cursor: pointer;
    align-items: center;
}

.patch {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    align-items: center;
}

.buttons {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.button1 {
    width: auto;
    height: 36px;
    border: 2px solid #A9B0BD;
    border-radius: 4px;
    font-family: paperlogy5;
    font-size: 24px;
    font-weight: normal;
    cursor: pointer;
}

.button2 {
    width: auto;
    height: 36px;
    align-items: flex-end;
    background: linear-gradient(#C1121F, #960E17);
    border: 2px solid #960E17;
    border-radius: 4px;
    font-family: paperlogy5;
    font-size: 24px;
    color: #ffffff;
    font-weight: normal;
    cursor: pointer;
}

.weekly {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    margin-top: 60px;
    margin-left: 400px;
    margin-right: 400px;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */

}

.schedule {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    align-items: center; /* 가로로 늘어선 요소 수직 위치 정렬 */
}

.day {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}

.date {
    background: linear-gradient(#C1121F, #960E17);
    min-width: 88px;
    height: 88px;
    border: 4px solid #960E17;
    border-radius: 12px;
}

.date1 {
    color: #ffffff;
    -webkit-text-stroke: 1px #343434;
}

.date2 {
    margin-top: 4px;
}

.content {
    width: min(880px,50vw);
    max-width: 880px;
    min-width: 200px;
    height: 88px;
    border: 4px solid #AC0606;
    border-radius: 12px;
    font-family: recipekorea;
    text-align: center;
}

.notice {
    display: flex;
    flex-direction: column;
    width: 996px;
    align-items: stretch; /* 가로로 늘어선 요소 수직 위치 정렬 */
}

.note1 {
    background: linear-gradient(#C1121F, #960E17);
    color: #ffffff;
    -webkit-text-stroke: 1px #343434;
    padding-top: 16px;
    border: 4px solid #960E17;
    border-radius: 12px 12px 0px 0px;
}

.note2 {
    height: 88px;
    border: 4px solid #AC0606;
    border-radius: 0px 0px 12px 12px;
    font-family: recipekorea;
    text-align: center;
}

.items-center {
    align-items: center
}

@font-face {
    font-family: recipeKorea;
    src: url(fonts/Recipekorea.otf);
}

@font-face {
    font-family: paperlogy5;
    src: url(fonts/Paperlogy-5Medium.ttf);
}

h1 {
    font-size: 60px;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h2 {
    font-size: 48px;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h3 {
    font-size: 36px;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

h4 {
    font-size: 24px;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}

p {
    font-size: 16px;
    font-weight: normal;
    margin: 0%;
    text-align: center;
}
